<a href="https://colab.research.google.com/github/Alaina-dev/Data-cleaning-Customer-churn-data-analysis/blob/main/Customer_churn_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

In [12]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

"Customer_Demographics" data cleaning and preparation

In [59]:
dfs = pd.read_excel("/content/gdrive/MyDrive/bank analysis/Customer_Churn_Data_Large-2.xlsx", sheet_name=None)
demo_df = dfs["Customer_Demographics"]
service_df = dfs["Customer_Service"]
transaction_df = dfs["Transaction_History"]
activity_df = dfs["Online_Activity"]
churn_df = dfs["Churn_Status"]

In [34]:
demo_df

     CustomerID  Age Gender MaritalStatus IncomeLevel
0             1   62      M        Single         Low
1             2   65      M       Married         Low
2             3   18      M        Single         Low
3             4   21      M       Widowed         Low
4             5   21      M      Divorced      Medium
..          ...  ...    ...           ...         ...
995         996   54      F        Single         Low
996         997   19      M       Widowed        High
997         998   47      M       Married         Low
998         999   23      M       Widowed        High
999        1000   34      M       Widowed         Low

[1000 rows x 5 columns]

In [37]:
# 1 - Basic structure check
print(demo_df.shape)          # number of rows and columns
print(demo_df.info())         # dtypes and non-null counts
print(demo_df.head())         # first few rows

(1000, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     1000 non-null   int64
 1   Age            1000 non-null   int64
 2   Gender         1000 non-null   object
 3   MaritalStatus  1000 non-null   object
 4   IncomeLevel    1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB
None
   CustomerID  Age Gender MaritalStatus IncomeLevel
0           1   62      M        Single         Low
1           2   65      M       Married         Low
2           3   18      M        Single         Low
3           4   21      M       Widowed         Low
4           5   21      M      Divorced      Medium

In [36]:
# 2 - Identifying missing values
demo_df.isnull().sum()

CustomerID       0
Age              0
Gender           0
MaritalStatus    0
IncomeLevel      0
dtype: int64

In [38]:
# 3 - Removing duplicated records
demo_df = demo_df.drop_duplicates()

In [39]:
# 4 - Correct data types
demo_df.dtypes

CustomerID        int64
Age               int64
Gender           object
MaritalStatus    object
IncomeLevel      object
dtype: object

In [ ]:
# 5 - Standardising categorical values---The output shows that all categorical values are already clean and consistent.
# Therefore, no additional standardisation (such as lowercasing or replacing values) is required.

In [40]:
# 6 - Check categorical fields for consistency
print(demo_df["Gender"].unique())
print(demo_df["IncomeLevel"].unique())
print(demo_df["MaritalStatus"].unique())

['M' 'F']
['Low' 'Medium' 'High']
['Single' 'Married' 'Widowed' 'Divorced']

In [ ]:
# 7 - Feature engineering for analysis---New columns were created to support churn understanding
#IF [Age] < 18 THEN "Under 18"
#ELSEIF [Age] >= 18 AND [Age] <= 21 THEN "18-21 Young Adults"
# ELSEIF [Age] >= 22 AND [Age] <= 35 THEN "22-35 Young Professionals"
# ELSEIF [Age] >= 36 AND [Age] <= 50 THEN "36-50 Working Adults"
# ELSEIF [Age] >= 51 AND [Age] <= 64 THEN "51-64 Pre-Retirement"
# ELSE "65+ Seniors"
# END

"Transaction_History" data cleaning and preparation

In [56]:
service_df

     CustomerID  Age Gender MaritalStatus IncomeLevel
0             1   62      M        Single         Low
1             2   65      M       Married         Low
2             3   18      M        Single         Low
3             4   21      M       Widowed         Low
4             5   21      M      Divorced      Medium
..          ...  ...    ...           ...         ...
995         996   54      F        Single         Low
996         997   19      M       Widowed        High
997         998   47      M       Married         Low
998         999   23      M       Widowed        High
999        1000   34      M       Widowed         Low

[1000 rows x 5 columns]

In [41]:
# 1 – Basic structure check
print(service_df.shape())          # number of rows and columns
print(service_df.info())         # dtypes and non-null counts
print(service_df.head())         # first few rows

(1002, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        1002 non-null   int64
 1   InteractionID     1002 non-null   int64
 2   InteractionDate   1002 non-null   datetime64[ns]
 3   InteractionType   1002 non-null   object
 4   ResolutionStatus  1002 non-null   object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 39.3+ KB
None
   CustomerID  InteractionID InteractionDate InteractionType ResolutionStatus
0           1           6363      2022-03-31         Inquiry         Resolved
1           2           3329      2022-03-17         Inquiry         Resolved
2           3           9976      2022-08-24         Inquiry         Resolved
3           4           7354      2022-11-18         Inquiry         Resolved
4           4           5393      2022-07-03         Inquiry       Unresolved

In [42]:
# 3 – Check for missing values
print(service_df.isnull().sum())

CustomerID          0
InteractionID       0
InteractionDate     0
InteractionType     0
ResolutionStatus    0
dtype: int64

In [43]:
# 4 – Remove duplicate rows
service_df = df.drop_duplicates()

In [48]:
# 5 – Fix data types
service_df.dtypes

CustomerID        int64
Age               int64
Gender           object
MaritalStatus    object
IncomeLevel      object
dtype: object

In [63]:
# 6 - check categorical fields for consistency

print(service_df["InteractionType"].unique())
print(service_df["ResolutionStatus"].unique())

['Inquiry' 'Feedback' 'Complaint']
['Resolved' 'Unresolved']

In [ ]:
# 7 – Simple feature engineering----New columns were created in tableau to support churn understanding
# Compliantflat
# IF [Interaction Type] = "Complaint" THEN 1 ELSE 0 END
# unresolvedcomplaintflat
# IF [Interaction Type] = "Complaint" AND [Resolution Status] = "Unresolved"
# THEN 1 ELSE 0 END

In [ ]:
"Transaction_History"data cleaning and preparation

In [64]:
transaction_df

      CustomerID  TransactionID TransactionDate  AmountSpent ProductCategory
0              1           7194      2022-03-27       416.50     Electronics
1              2           7250      2022-08-08        54.96        Clothing
2              2           9660      2022-07-25       197.50     Electronics
3              2           2998      2022-01-25       101.31       Furniture
4              2           1228      2022-07-24       397.37        Clothing
...          ...            ...             ...          ...             ...
5049        1000           2724      2022-09-08       232.06       Groceries
5050        1000           2917      2022-12-13       324.98           Books
5051        1000           2979      2022-06-15       375.34       Groceries
5052        1000           8594      2022-04-08       166.73           Books
5053        1000           5529      2022-11-23        93.73       Furniture

[5054 rows x 5 columns]

In [65]:
# 2- Basic structure check
print(transaction_df.shape)          # number of rows and columns
print(transaction_df.info())         # dtypes and non-null counts
print(transaction_df.head())

(5054, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5054 entries, 0 to 5053
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       5054 non-null   int64
 1   TransactionID    5054 non-null   int64
 2   TransactionDate  5054 non-null   datetime64[ns]
 3   AmountSpent      5054 non-null   float64
 4   ProductCategory  5054 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 197.6+ KB
None
   CustomerID  TransactionID TransactionDate  AmountSpent ProductCategory
0           1           7194      2022-03-27       416.50     Electronics
1           2           7250      2022-08-08        54.96        Clothing
2           2           9660      2022-07-25       197.50     Electronics
3           2           2998      2022-01-25       101.31       Furniture
4           2           1228      2022-07-24       397.37        Clothing

In [66]:
# 3 Remove duplicate rows
transaction_df = transaction_df.drop_duplicates()

In [67]:
# 5 – Fix data types
service_df.dtypes

CustomerID                   int64
InteractionID                int64
InteractionDate     datetime64[ns]
InteractionType             object
ResolutionStatus            object
dtype: object

In [69]:
# 6 – Check categorical fields for consistency
print(transaction_df["ProductCategory"].unique())

['Electronics' 'Clothing' 'Furniture' 'Groceries' 'Books']

In [ ]:
# 7 – Simple feature engineering example

"Online_Activity"data cleaning and preparation

In [70]:
activity_df

     CustomerID LastLoginDate  LoginFrequency ServiceUsage
0             1    2023-10-21              34   Mobile App
1             2    2023-12-05               5      Website
2             3    2023-11-15               3      Website
3             4    2023-08-25               2      Website
4             5    2023-10-27              41      Website
..          ...           ...             ...          ...
995         996    2023-01-29              38   Mobile App
996         997    2023-04-01               5   Mobile App
997         998    2023-07-10              47      Website
998         999    2023-01-08              23      Website
999        1000    2023-08-13              22   Mobile App

[1000 rows x 4 columns]

In [73]:
# 2- Basic structure check
print(activity_df.shape)          # number of rows and columns
print(activity_df.info())         # dtypes and non-null counts
print(activity_df.head())

(1000, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      1000 non-null   int64
 1   LastLoginDate   1000 non-null   datetime64[ns]
 2   LoginFrequency  1000 non-null   int64
 3   ServiceUsage    1000 non-null   object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 31.4+ KB
None
   CustomerID LastLoginDate  LoginFrequency ServiceUsage
0           1    2023-10-21              34   Mobile App
1           2    2023-12-05               5      Website
2           3    2023-11-15               3      Website
3           4    2023-08-25               2      Website
4           5    2023-10-27              41      Website

In [74]:
# 4 – Remove duplicate rows
activity_df = activity_df.drop_duplicates()

In [75]:
# 5 – Fix data types
activity_df.dtypes

CustomerID                 int64
LastLoginDate     datetime64[ns]
LoginFrequency             int64
ServiceUsage              object
dtype: object

In [76]:
 # 6 – Check categorical fields for consistency
 print(activity_df["ServiceUsage"].unique())

['Mobile App' 'Website' 'Online Banking']

In [ ]:
# 7 – Simple feature engineering example-Completed in Tableau

"Churn_Status"data cleaning and preparation

In [77]:
churn_df

     CustomerID  ChurnStatus
0             1            0
1             2            1
2             3            0
3             4            0
4             5            0
..          ...          ...
995         996            0
996         997            0
997         998            0
998         999            0
999        1000            0

[1000 rows x 2 columns]

In [78]:
# 2 – Basic structure check
print(churn_df.shape)
print(churn_df.info())
print(churn_df.head())

(1000, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   1000 non-null   int64
 1   ChurnStatus  1000 non-null   int64
dtypes: int64(2)
memory usage: 15.8 KB
None
   CustomerID  ChurnStatus
0           1            0
1           2            1
2           3            0
3           4            0
4           5            0

In [79]:
# 3 – Remove duplicate rows
df = df.drop_duplicates()

In [80]:
# 4 – Fix data types
churn_df.dtypes

CustomerID     int64
ChurnStatus    int64
dtype: object

In [82]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [84]:
df.to_excel("/content/drive/MyDrive/bank analysis/Customer_churn_clean_data.xlsx", index=False)