<a href="https://colab.research.google.com/github/Alaina-dev/Data-cleaning-Customer-churn-data-analysis/blob/main/Customer_churn_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

In [12]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

"Customer_Demographics" data cleaning and preparation

In [33]:
dfs = pd.read_excel("/content/gdrive/MyDrive/bank analysis/Customer_Churn_Data_Large-2.xlsx", sheet_name=None)

demo_df = dfs["Customer_Demographics"]
service_df = dfs["Customer_Service"]
transaction_df = dfs["Transaction_History"]
activity_df = dfs["Online_Activity"]
churn_df = dfs["Churn_Status"]

     CustomerID  Age Gender MaritalStatus IncomeLevel
0             1   62      M        Single         Low
1             2   65      M       Married         Low
2             3   18      M        Single         Low
3             4   21      M       Widowed         Low
4             5   21      M      Divorced      Medium
..          ...  ...    ...           ...         ...
995         996   54      F        Single         Low
996         997   19      M       Widowed        High
997         998   47      M       Married         Low
998         999   23      M       Widowed        High
999        1000   34      M       Widowed         Low

[1000 rows x 5 columns]

In [34]:
demo_df

     CustomerID  Age Gender MaritalStatus IncomeLevel
0             1   62      M        Single         Low
1             2   65      M       Married         Low
2             3   18      M        Single         Low
3             4   21      M       Widowed         Low
4             5   21      M      Divorced      Medium
..          ...  ...    ...           ...         ...
995         996   54      F        Single         Low
996         997   19      M       Widowed        High
997         998   47      M       Married         Low
998         999   23      M       Widowed        High
999        1000   34      M       Widowed         Low

[1000 rows x 5 columns]

In [37]:
# 1 - Basic structure check
print(demo_df.shape)          # number of rows and columns
print(demo_df.info())         # dtypes and non-null counts
print(demo_df.head())         # first few rows

(1000, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     1000 non-null   int64
 1   Age            1000 non-null   int64
 2   Gender         1000 non-null   object
 3   MaritalStatus  1000 non-null   object
 4   IncomeLevel    1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB
None
   CustomerID  Age Gender MaritalStatus IncomeLevel
0           1   62      M        Single         Low
1           2   65      M       Married         Low
2           3   18      M        Single         Low
3           4   21      M       Widowed         Low
4           5   21      M      Divorced      Medium

In [36]:
# 2 - Identifying missing values
demo_df.isnull().sum()

CustomerID       0
Age              0
Gender           0
MaritalStatus    0
IncomeLevel      0
dtype: int64

In [38]:
# 3 - Removing duplicated records
demo_df = demo_df.drop_duplicates()

In [39]:
# 4 - Correct data types
demo_df.dtypes

CustomerID        int64
Age               int64
Gender           object
MaritalStatus    object
IncomeLevel      object
dtype: object

In [ ]:
# 5 - Standardising categorical values---The output shows that all categorical values are already clean and consistent.
# Therefore, no additional standardisation (such as lowercasing or replacing values) is required.

In [40]:
# 6 - Check categorical fields for consistency
print(demo_df["Gender"].unique())
print(demo_df["IncomeLevel"].unique())
print(demo_df["MaritalStatus"].unique())

['M' 'F']
['Low' 'Medium' 'High']
['Single' 'Married' 'Widowed' 'Divorced']

In [ ]:
# 7 - Feature engineering for analysis---New columns were created to support churn understanding
#IF [Age] < 18 THEN "Under 18"
#ELSEIF [Age] >= 18 AND [Age] <= 21 THEN "18-21 Young Adults"
# ELSEIF [Age] >= 22 AND [Age] <= 35 THEN "22-35 Young Professionals"
# ELSEIF [Age] >= 36 AND [Age] <= 50 THEN "36-50 Working Adults"
# ELSEIF [Age] >= 51 AND [Age] <= 64 THEN "51-64 Pre-Retirement"
# ELSE "65+ Seniors"
# END

"Transaction_History" data cleaning and preparation

In [41]:
# 1 – Basic structure check
print(service_df.shape())          # number of rows and columns
print(service_df.info())         # dtypes and non-null counts
print(service_df.head())         # first few rows

(1002, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        1002 non-null   int64
 1   InteractionID     1002 non-null   int64
 2   InteractionDate   1002 non-null   datetime64[ns]
 3   InteractionType   1002 non-null   object
 4   ResolutionStatus  1002 non-null   object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 39.3+ KB
None
   CustomerID  InteractionID InteractionDate InteractionType ResolutionStatus
0           1           6363      2022-03-31         Inquiry         Resolved
1           2           3329      2022-03-17         Inquiry         Resolved
2           3           9976      2022-08-24         Inquiry         Resolved
3           4           7354      2022-11-18         Inquiry         Resolved
4           4           5393      2022-07-03         Inquiry       Unresolved

In [42]:
# 3 – Check for missing values
print(service_df.isnull().sum())

CustomerID          0
InteractionID       0
InteractionDate     0
InteractionType     0
ResolutionStatus    0
dtype: int64

In [43]:
# 4 – Remove duplicate rows
service_df = df.drop_duplicates()

In [48]:
# 5 – Fix data types
service_df.dtypes

CustomerID        int64
Age               int64
Gender           object
MaritalStatus    object
IncomeLevel      object
dtype: object

In [53]:
# 6 - check categorical fields for consistency
print(service_df["InteractionID"].unique())
print(service_df["InteractionDate"].unique())
print(service_df["InteractionType"].unique())
print(service_df["ResolutionStatus"].unique())

KeyError: 'InteractionID'

In [ ]:
# 7 – Simple feature engineering

In [ ]:
# 8 – Save cleaned dataset